*{
    background: plum;
}
body {
    height: 500px;
    max-width: 500px;
    margin:auto;
     align-items: center;
     border:2px solid blueviolet;
     
}
#myInput,h1{
    margin-left: 20px;  
}
button{
    height: 20px;
    margin-left: 0;
}
.done{
    color:white;
    background: green;
}
.remove{
    color:white;
    background: red;
}
.strike{
    text-decoration: line-through;
}